@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-outer: #fff;
  /* The outer frame color */
  --color-bg-main: #D0DCE3;
  /* The main blue-gray content color */
  --color-text-main: #000000;
  --color-text-muted: #555555;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --border-radius-xl: 3rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-dm-sans), sans-serif;
  background-color: var(--color-bg-outer);
  color: var(--color-text-main);
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}