@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-outer: #fff;
  /* The outer frame color */
  --color-bg-main: #D0DCE3;
  /* The main blue-gray content color */
  --color-text-main: #000000;
  --color-text-muted: #555555;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --border-radius-xl: 3rem;
  --font-instrument-sans: 'Instrument Sans', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-instrument-sans);
  background-color: var(--color-bg-outer);
  color: #252323;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-black);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

b,
strong {
  font-weight: 600;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.35rem;
  }

  h4 {
    font-size: 1.15rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.9rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}